<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <title>Zed data</title>
</head>
<body>
    <style>
        p.show{
            background-color: #dada47;
            border: 1px solid #dad8d8;
            margin: 10px;
            text-align: center;
            padding: 20px;
            border-radius: 5px;
            color: #05121f;
        }
    </style>
    <div class="container">
        <h1>Fetch Horse data from Zed</h1>
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script type="text/javascript">
        $('body').on('click', '.btn-submit', function(e){
            e.preventDefault();

            var pages = document.getElementById("paginate").value
            var start = document.getElementById("start").value
            var end = document.getElementById("end").value
            
            call(start, end, pages)
        });
        
        function call(start, end, pages) {
            console.log(start, end)
            $.ajax(
                {
                    type: "GET",
                    url: "/get-data",
                    data: { "start": start, "end": end, "pages": pages },
                    success: function (data, status, xhr) {// success callback function
                        $('p').addClass("show")
                        $('p').append(data.message);
                    }
                }
            )
        }

        $(function() {

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                document.getElementById('start').value = start.format('YYYY-MM-DD');
                document.getElementById('end').value = end.format('YYYY-MM-DD');
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
    </script>
</body>
</html>