{% extends "base.html" %}
{% block content %}
    <section>
        <h3>Fetch saved file by date</h3>
        <form action="">
            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <input type="hidden" id="start" value="2"/>
                <input type="hidden" id="end" value="2"/>
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
            <button class="btn-fetch">Apply</button>
        </form>
        <br/>
        <hr>
        <p id="json"></p>
    </section>
{% endblock %}