{% extends "base.html" %}
{% block content %}
    <section>
        <form action="">
            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <input type="hidden" id="start" value="2"/>
                <input type="hidden" id="end" value="2"/>
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
            <h5>Number of page results to return: 
                <input type="number" id="paginate" value="2"/>
            </h5>
            <button class="btn-submit">Apply</button>
            <p></p>
        </form>
    </section>
{% endblock %}